/* variable config -- begin */
bghomeUrl = "../img/bg_home.png?v1.0.0" //该相对路径是与最后生成的css文件为准，不与styl文件为准
borderCol = #F0F0F0
newsCol = #3498DB
carCol = #878787
sportCol = #015289
militaryCol = #90A24C
scienceCol = #113573
financeCol = #F25A56
amuseCol = #C90009
funnyCol = #F1A80F
healthCol = #35CF78

/* variable config -- end */